body{
    margin : 0;
    padding:0;
    overflow-x:hidden;
    background: #393E46;
    font-family: 'Montserrat Alternates', sans-serif;
}
.kepala{
    position: relative;
    margin-top: 2%;
    letter-spacing: 12pt;
}
.header{
    margin: 0 auto;
    display: block;
    left: 50%;
    transform: translate(-50%,0);
    width: 95%;
    border-radius: 0 0 100px 100px ;
    text-align: center;
    background: aqua;
    position: fixed;
    top: -22px;
    z-index: 5;
}

.nav{
    position: relative;
    padding-bottom: 1%;
    right: -20%;
    display: inline;
}
.nav li{
    display: inline-block;
    padding: 0 2%;
}
.nav li, .link{
    /* display: flex;
    flex-wrap: wrap; */
    list-style-type: none;
    text-decoration: none;
    font-size: 15pt;
    color: black;
}

.container-content{
    position: initial;
    /* transform: translate(0,-10%); */
    margin: 8% 10%;
    height: 100vh;
    z-index: 0;
}

.content{
    display: block;
    float: left;
    width: 50%;
    color: white;
    text-align: justify;
    text-indent: 10%;
    /* height: 100vh; */
    line-height: 22pt;
}

.login{
    display: block;
    background: #8b97a9;
    float: right;
    width: 25%;
    padding: 0 2% 2% 2%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(39, 39, 39);

}
.label{
    position: relative;
    left: 15%;
}
.text_label{
    border: none;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    height: 25px;
    margin: 5% 0;
    border-radius: 25px;
    padding: 0 4%;
    transition: 0.8s;
}
.text_label:hover{
    background: black;
    color: white;
}
.submit{
    border: none;
    border-radius: 4px;
    color: whitesmoke;
    background: black;
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%,0);
    margin-top: 6%;
    padding: 3%;
    width: 30%;
    transition: 0.8s;
}
.submit:hover{
    border-radius: 25px;
    color: gray;
    background: aqua;
}
.about{
    background: rgba(0, 0, 0, 0.63);
    height: 100vh;
    /* padding: 0 4%; */
}
.bungkus_biodata{
    position: relative;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    text-align: center;
}
.tempat_biodata{
    display: inline-block;
    /* margin: 0 1% 0 1%; */
    /* background: white; */
    width:30%;  
    margin: 0 1%;
}
.gambar_biodata{
    width: 50%;
    border-radius: 50%;
    position: relative;
    margin-top: -20%;
    left: 25%;
    transform: translate(-50%,50%);
    z-index: 1;
}
.isi_biodata{
    width: 100%;
    height: 225px;
    background: #393E46;
    border-radius: 8px;
    text-align: center;
    color: whitesmoke;
    box-shadow: 5px 5px 6px #000000;
}
.isi{
    position: relative;
    top: 60%;
    transform: translate(0,-50%);
}
.contact_us{
    background: #393E46;
    height: 100vh;
}
.footer {
    position: relative;
    background: #0092CA;
    text-align: center;
    /* margin: 27% 0 0 0; */
    clear: both;
    padding: 1%;
    border-radius:100px 100px 0 0;
    
}
